target/
.mvn/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### IPython
.ipynb_checkpoints

### Mac OS  ###
.DS_Store

### npm bower
bower_components/
node_modules/

### Hadoop, Spark, ML
lib/


### Local Project
demo_hadoop/
demo_clone/


### Unversioned files
